# Database connection string
DATABASE_URI=postgres://postgres:<password>@127.0.0.1:5432/your-database-name

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

ZALO_APP_ID=
ZALO_API_URL=https://sb-openapi.zalopay.vn
ZALO_KEY1=
ZALO_KEY2=
ZALO_GET_BANK_ENDPOINT=
APP_BASE_URL=http://localhost:3000
ZALO_REDIRECT_URL=http://localhost:3000/payment/result
ZALO_CALLBACK_URL=http://localhost:3000/api/zalopay/callback

# VERCEL BLOB
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_xyz"

# Resend
RESEND_API_KEY=re_apikey
NEXT_PUBLIC_VIETQR_BANK_ID=
NEXT_PUBLIC_VIETQR_ACCOUNT_NUMBER=
NEXT_PUBLIC_VIETQR_ACCOUNT_NAME=